# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.idx
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc
*.pdf
*.synctex.gz

# Data
data/*
!data/.gitkeep

# IDEs
.vscode/
.idea/
